{% extends 'base.html.twig' %}

{% block title %}Update Manga {% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('style/styleUpdate.css') }}">
{% endblock %}
{% block body %}
    {% form_theme mangaUpdateForm 'bootstrap_4_layout.html.twig' %}
    <main>
        <div class="container-fluid">
            <div class="row">
                {% if manga.filename %}
                    <div class="col manga-image-box d-flex">
                        <img id="manga-image-update" alt="{{ manga.title }} image"
                             src="{{ vich_uploader_asset(manga, 'imageFile') }}">
                    </div>
                {% endif %}
                <div class="col d-flex my-2 justify-content-center">
                    {{ form_start(mangaUpdateForm) }}
                    <br>
                    {{ form_row(mangaUpdateForm.title) }}
                    <br>
                    {{ form_row(mangaUpdateForm.status) }}
                    <br>
                    {{ form_row(mangaUpdateForm.rating) }}
                    <br>
                    {{ form_row(mangaUpdateForm.note) }}
                    <br>
                    {{ form_row(mangaUpdateForm.imageFile) }}
                    <div class="mt-5">
                        <button class="btn btn-outline-light" type="submit">Update manga
                        </button>
                        <a class="btn btn-outline-light" href="{{ path('manga_index') }}">Cancel
                        </a>
                    </div>
                    {{ form_end(mangaUpdateForm) }}
                </div>
                <div class="col">
                </div>
            </div>
        </div>
    </main>
{% endblock %}