<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Oiwa's Bookshelf{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('style/style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
          crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="{{ asset('img/fujiicon.png') }}">
</head>
<body>
<!--Header -->
<header>
    <div class="container-fluid">
        <div class="row">
            <div class="my-5 d-flex justify-content-evenly">
                <div>
                    <!-- GitHub Link -->
                    <a href="{{ url('manga_index') }}">
                        <img alt="logo Mount-Fuji-san" src="{{ asset('img/fuji.png') }}" width="64px">
                    </a>
                </div>

                <div class="title">
                    {% if app.user %}
                        <h3><a style="text-decoration: none; color: goldenrod"
                               href="{{ url('manga_index') }}">{{ app.user.username }}'s bookshelf</a></h3>
                    {% else %}
                        <h3><a style="text-decoration: none; color: goldenrod" href="{{ url('manga_index') }}">Oiwa's
                                bookshelf</a></h3>
                        <h5>Sign in to create your own list </h5>
                    {% endif %}
                </div>
                <!-- Settings -->
                <div class="dropdown">
                    <button class="btn dropdown-toggle shadow-none" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img alt="settings-icon" src="{{ asset('img/settings-xxl.png') }} " width="36px"
                             class="crossRotate">
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        {# <!--Darkmode Switch --> #}
                        {# <button onclick="darkMode()" class="btn btn-primary switch">Switch Light/Dark</button> #}
                        {% if app.user %}
                            <a class="dropdown-item btn-outline-dark" href="{{ path('user_edit',{"username":app.user.username}) }}">Profile</a>
                            <a class="dropdown-item btn-outline-dark" href="{{ path('app_logout') }}">Log out</a>
                        {% else %}
                            <a class="dropdown-item btn-outline-dark" href="{{ path('app_login') }}">Log in</a>
                            <a class="dropdown-item btn-outline-dark" href="{{ path('app_register') }}">Sign in</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
{% for status, messages in app.flashes %}
    {% for message in messages %}
        <div class="bbg">
            <div class="container-fluid">
                <div class="row">
                    <div class="my-2 d-flex justify-content-center">
                        <div class="alert alert-{{ status }} alert-dismissible fade show" role="alert">
                            <strong>
                                {{ message }}
                            </strong>
                            <button type="button" class="btn-close" data-bs-dismiss="alert"
                                    aria-label="Close"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endfor %}
{% block body %}{% endblock %}
<footer class="my-5">
    <p>
        <!-- GitHub Link -->
        <a style="text-decoration: none" href="https://github.com/Oiwawa/MangaList" target="_blank">
            <img alt="logoGitHub" src="{{ asset('img/GitHub-Mark-Light-64px.png') }}" width="64px">
        </a>
        MangaList by Oiwa </p>
</footer>
{% block js %}{% endblock %}
</body>
</html>
