{% extends 'base.html.twig' %}

{% block title %}{{ user.username }}'s Profile{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('style/styleUpdate.css') }}">
{% endblock %}
    {% block body %}
        <main>

            {% form_theme editProfileForm 'bootstrap_4_layout.html.twig' %}
            <div class="container-fluid">
                <div class="row">
                    <div class="my-5 d-flex justify-content-center">
                        <h1>Mon profil</h1>
                    </div>
                    {% for status, messages in app.flashes %}
                        {% for message in messages %}
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="my-5 d-flex justify-content-center">
                                        <div class="alert alert-{{ status }} alert-dismissible fade show" role="alert">
                                            <strong>
                                                {{ message }}
                                            </strong>
                                            <button type="button" class="btn-close" data-bs-dismiss="alert"
                                                    aria-label="Close"></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endfor %}
                    <div class="manga-image-box d-flex col-2 justify-content-center">
                        <img id="manga-image-update" alt="{{ user.username }} image" src="{{ vich_uploader_asset(user, 'imageFile') }}">
                    </div>
                    <div class="row d-flex justify-content-center">
                        <div class="col-3 my-5">
                            {{ form_start(editProfileForm) }}
                            {{ form_row(editProfileForm.username) }}
                            <br>
                            {{ form_row(editProfileForm.password) }}
                            <br>
                            {{ form_row(editProfileForm.imageFile) }}
                        </div>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-4 mx-auto d-flex justify-content-center">
                                    <div class="me-4">
                                        <button type="submit" class="btn btn-outline-light">Update</button>
                                    </div>
                                    <div class="mb-5">
                                        <button type="reset" class="btn btn btn-outline-light">Cancel</button>
                                    </div>
                                    <br>
                                    {{ form_end(editProfileForm) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    {% endblock %}

