{% extends 'base.html.twig' %}

{% block title %}
    {{ user.username }}'s Profile
{% endblock %}
{% block body %}
    <main>
        <div class="container-fluid">
            <div class="row">
{#                <div class="mangaImg d-flex col-2 justify-content-center">#}
{#                    <img alt="{{ user.username }} image" src="{{ vich_uploader_asset(user, 'imageFile') }}">#}
{#                </div>#}

                {% if user.filename %}
                <div class="mangaImg d-flex col-2 justify-content-center">
                    <img  src="/images/userImage/{{ user.imageFile }}" alt="profilePic">
                </div>
                {% endif %}
                <div class="col-6 mx-auto text-center">
                    <h1>{{ user.username|capitalize }}</h1>
                   <a class="btn btn-outline-light" href="{{ path('manga_index') }}">Home</a>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

